#header {
	height:70px;
	width:100%;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	font-weight: bold;
	background-color: white;
	border-radius: 4px;
	text-align: center;
	float:left;
}

#result {
	height:300px;
	width:100%;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	font-size:10px;
	font-weight: bold;
	background-color: #E3F0FB;
	text-align: center;
	float:left;
}

#count {
	height:30px;
	width:100%;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	font-size:10px;
	font-weight: bold;
	background-color: #E3F0FB;
	text-align: center;
	float:left;
}

#villege {
	background-color: #d3d3d3;
	color: #663300;
	height:900px;
	width: 100%;
	float:left;
}

#gray{
    width:30%;
    background-color:#7FFF00;
    float:left;
}

#job{
    width:30%;
    background-color:#F0F8FF;
    float:left;
}

#death{
    width:30%;
    background-color:#FFE4C4;
    float:left;
}

#vil1{
	position: relative;
}

#vil1_vil17{
	position: relative;
	width: 300px;
	height: 200px;
	margin: 0 auto;
	background: #333;
}



body {
  position:relative;
}
 
/* モーダルウィンドウのスタイル */
.modal {
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:none;
}
 
/* オーバーレイのスタイル */
.overLay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(200,200,200,0.9);
  width:100%;
  height:100vh;
  z-index:10;
}
 
/* モーダルウィンドウの中身のスタイル */
.modal .inner {
  position:relative;
  z-index:11;
  top:20%;
  left:40%;
	height:10%;
	width: 50%;
  transform:translate(-50%,-50%);
}

.innerBox{
	background-color: #4169e1;
	padding: 6px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 20%;
	height:100%;
	float:left;
}


